<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WHAT_AM_I_DOING_URL</key>
	<string>http://5.79.24.141:9000/</string>
	<key>WHAT_AM_I_DOING_REGISTER_URL</key>
	<string>http://5.79.24.141:9000/registerLogin?</string>
</dict>
</plist>
